@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }

  .c-beige {
    --background: 47 45% 94%;
    --foreground: 40 5% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 40 5% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 5% 3.9%;
    --primary: 47 100% 92%; /* Button primary */
    --primary-foreground: 31 28% 44%; /* Button text */
    --secondary: 47 5% 96%;
    --secondary-foreground: 240 5% 3.9%;
    --muted: 47 5% 96%;
    --muted-foreground: 47 5% 50%;
    --accent: 47 40% 90%; /* Hover */
    --accent-foreground: 47 5% 3.9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 42% 77%;
    --input: 47 42% 77%; /* Apparently the border for input */
    --ring: 47 46% 77%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.text-shadow-c-beige {
  text-shadow: 0px 1px 3px rgba(155, 155, 155, 0.5);
}

.small-caps {
  font-variant: small-caps;
}
.highlighted {
  background-color: rgba(255, 255, 0, 0.3); /* Light yellow background */
  transition: background-color 0.3s ease-in-out;
}

.url-card {
  border: 1px solid rgba(155, 155, 155, 0.1);
}

.dark .url-card {
  box-shadow: 0 0 0.25rem rgba(200, 200, 200, 0.1),
    0 0.125rem 0.25rem rgba(0, 0, 0, 0.5), 0 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}

.scrollbar-none {
  scrollbar-width: none;
}

.apexcharts-heatmap-rect[val="0"] {
  fill: #ebedf0;
  stroke-width: 1;
}
.dark .apexcharts-heatmap-rect[val="0"] {
  fill: #161b22;
  stroke-width: 1;
}
.dark .apexcharts-heatmap-rect,
.dark .apexcharts-treemap-rect {
  stroke: #0d0e10;
}

.c-beige .apexcharts-heatmap-rect {
  stroke: #f8f6ee;
}
/* .apexcharts-gridline { stroke-width: 0; } */
/* .apexcharts-grid-borders line { stroke-width: 0; } */
.apexcharts-tooltip-title {
  background: unset !important;
}

.apexcharts-tooltip,
.apexcharts-menu {
  background: #fff2 !important;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.dark .apexcharts-tooltip,
.dark .apexcharts-menu {
  background: #161b22aa;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.graph-card {
  @apply w-full overflow-auto scrollbar-none py-4 px-6 bg-white c-beige:bg-beige-50 dark:bg-[#0c0e0f88] backdrop-blur shadow-lg url-card rounded-lg;
  h2 {
    @apply mb-4 text-lg font-bold lg:text-xl c-beige:text-beige-800 small-caps;
  }
  p {
    @apply max-w-sm m-2 font-mono text-sm leading-4 lg:text-base text-muted-foreground c-beige:text-beige-700/60;
  }
}
